<% content_for :head do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Transaction Status');
    data.addColumn('number', 'Count');
    data.addRows(3);
    data.setValue(0, 0, 'Pending');
    data.setValue(0, 1, <%= Transaction.where(:state => "pending").count %>);
    data.setValue(1, 0, 'Done');
    data.setValue(1, 1, <%= Transaction.where(:state => "done").count %>);
    data.setValue(2, 0, 'Cancelled');
    data.setValue(2, 1, <%= Transaction.where(:state => "cancelled").count %>);

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 450, height: 300, title: 'Transactions Overview as Percentage'});
  }
</script>
<% end %>
<h1>Zahlbar Admin Dashboard ~ <%= %w[Willkommen Welcome].sample %>!</h1>

<br/>

<h3>Transactions Status Overview</h3>
<div class="row">
  <div class="span6">
    <table class="zebra-striped">
      <tbody>
        <tr>
          <td>Done</td>
          <td><%= percentage_transactions("done") %>% (<%= Transaction.where(:state => "done").count %>)</td>
        </tr>    
        <tr>
          <td>Pending</td>
          <td><%= percentage_transactions("pending") %>% (<%= Transaction.where(:state => "pending").count %>)</td>
        </tr>
        <tr>
          <td>Cancelled</td>
          <td><%= percentage_transactions("cancelled") %>% (<%= Transaction.where(:state => "cancelled").count %>)</td>
        </tr>       
      </tbody>
    </table>
  </div>
  <div class="span6" id="chart_div"></div>
</div>