<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Core App" %></title>
  
  <!-- Le HTML5 shiv, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
  <script>$(function () { prettyPrint() })</script>
  <script src="/javascripts/bootstrap-modal.js"></script>
  <script src="/javascripts/bootstrap-alerts.js"></script>
  <script src="/javascripts/bootstrap-dropdown.js"></script>
  <script src="/javascripts/bootstrap-scrollspy.js"></script>
  <script src="/javascripts/bootstrap-tabs.js"></script>
  <script src="/javascripts/bootstrap-twipsy.js"></script>
  <script src="/javascripts/bootstrap-popover.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
<style>
.quickstart [class*="span"]{height:20px!important;padding:45px 20px 26px!important}
</style>
</head>
<body>

<!-- Topbar
================================================== -->
<div class="topbar" >
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="#">Zahlbar</a>
      <% if current_user && current_user.admin? %>
        <ul class="nav">
          <% if request.env['PATH_INFO'] == "/admin" %>  
            <li class="active">
          <% else %>
            <li>  
          <% end %>  
            <%= link_to "Dashboard", admin_root_path %></li>
          
          <% if request.env['PATH_INFO'] == "/admin/online_shops" %>  
            <li class="active">
          <% else %>
            <li>  
          <% end %>
            <%= link_to "Create Transaction", admin_online_shops_path %></li>
        
          <% if request.env['PATH_INFO'] == "/admin/offline_partners" %>  
            <li class="active">
          <% else %>
            <li>  
          <% end %>
            <%= link_to "Make a Payment", admin_offline_partners_path %></li>        
        </ul>
        <% end %>
    </div>
  </div>
</div>

<!-- Quickstart options
================================================== -->
<div class="quickstart">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4"></div>
      <div class="span4">
        <p>
          <% if current_user && current_user.admin? %>
            Logged in as <%= current_user.email %>.<br/>  
            Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% elsif current_user && current_user.role == 'visitor' %>
            <strong>Visitor</strong> Logged in as <%= current_user.email %>.<br/>  
            Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>          
          <% else %>
            Authorised Personnel Only<br/><%= link_to "Sign in", admin_root_path %>
          <% end %>
        </p>
      </div>
    </div><!-- /row -->
  </div>
</div>

<br/>
<% if current_user && current_user.admin? & current_user.active? %>
  <div class="container-fluid">
  
  <div class="sidebar">
    <div class="well">
      <h3>Online Shops</h3>
      <ul>
        <li><%= link_to "Create Transaction", admin_online_shops_path %></li>
      </ul>
      
      <h3>Offline-Partners</h3>
      <ul>
        <li><%= link_to "Make Payment", admin_offline_partners_path %></li>        
      </ul>

      <h3>Manage Resources</h3>
      <p>TODO! Currently loaded via rake task</p>
      <ul>
        <li><%= link_to "Manage Customers", "" %></li>
        <li><%= link_to "Manage Online Shops", "" %></li>
        <li><%= link_to "Manage Offline Providers", "" %></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="container">
<% end  %>
  <div class="content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" %>
    <% end %>
  
    <%= yield %>
    
  </div>
</div><!-- /container -->

</div>

<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      Bootstrap template designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.<br />
      Copyright &copy; 2011 Barzahlen, and is released under MIT-LICENSE.
    </p>
    <p>
      <%= "Application Time: #{Time.now.strftime("%D @ %H%M %z")}" if Rails.env.development? %>
      <%= debug(params) if Rails.env.development? %>
      <%= debug(session) if Rails.env.development? %>
    </p>
  </div>
</footer>

<script>//<![CDATA[

//]]></script>
<%= yield :pre_body_close %>
</body>
</html>
